APP_ENV=local
TRACE_EXPORTER=otlp
TRACER_URL=localhost:4317
TRACER_RATIO=1
TRACER_HEADERS=
OTEL_RESOURCE_ATTRIBUTES=deployment.environment=local
VITE_HYPERDX_API_KEY=
VITE_HYPERDX_URL=
HYPERDX_DEMO_EMAIL=demo@cloud-native.local
HYPERDX_DEMO_PASSWORD=CloudNative#2026
